body{
    font-family: monospace;
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
h1{
    border: 1px solid red;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}
.gameStatusDisplay{
    border: 1px solid red;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
}
.p1{
    grid-column:  2 / 3;
    grid-row: 3 / 11;
}
.p2{
    grid-column:  5 / 6;
    grid-row: 3 / 11;
}
.playerContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.playerName{
    display: flex;
    flex: 4;
}
.playerIcon{
    display: flex;
    flex: 1;
}
.playerScore{
    display: flex;
    flex: 1;
}
.gameBoardContainer{
    display: grid;
    grid-column: 3 / 5;
    grid-row: 3 / 11;
    border: 2px solid black;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}
.gameBoardGrid{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    font-size: 50px;
}
.newGameButton{
    border: 1px solid red;
    grid-column:  3 / 4;
    grid-row: 11 / 12;
}
.newRoundButton{
    border: 1px solid red;
    grid-column:  4 / 5;
    grid-row: 11 / 12;
}
.activePlayer{
    border: 3px solid cyan;
}